h1 {
  color: orange;
  text-align: center;
  font-family: Helvetica;
  font-size:40px;
  font-weight: bolder;
}

h2 {
  color: red;
  text-align: center;
  font-family: Helvetica;
  font-size:40px;
  font-weight: bolder;
}

h3 {
  color: blue;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
 }

 p {
   color: green;
   text-align: center;
   font-family: Helvetica;
   font-size: 20px;
 }
